body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fff;
}

h1 {
  text-indent: 25%;
}

h2 {
  font-size: 1.2em;
  text-align: center;
}

.buttons {
  display: flex;
  width: 70%;
  margin: auto;
}

.color-buttons {
  display: inline-block;
}

button {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: auto;
}

button[name="red"] {
  background-color: #9b0a03;
}

button[name="orange"] {
  background-color: #ef681a;
}

button[name="yellow"] {
  background-color: #ffc73a;
}
button[name="green"] {
  background-color: #57752d;
}
button[name="blue"] {
  background-color: #325f89;
}
button[name="purple"] {
  background-color: #370c6b;
}
button[name="brown"] {
  background-color: #49371f;
}
button[name="black"] {
  background-color: #000000;
}
button[name="white"] {
  background-color: #ffffff;
}

.cells {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(40, [col] 1fr);
  grid-template-rows: repeat(30, [row] 1fr);
  margin: auto;
  margin-top: 10px;
  padding: 0;
}

.cell {
  height: 10px;
  border: 1px solid grey;
  list-style-type: none;
  padding: 5px;
  margin: 1px;
}
