<div class="new-user-div">
  <form class="new-user" action="/users" method="post">
    <label for="name">Name:</label>
    <input type="text" name="user[name]">
    <label for="email">Email:</label>
    <input type="email" name="user[email]">
    <label for="password">Password:</label>
    <input type="password" name="user[password]">
    <input type="submit" value="Create Account">
  </form>
</div>
